noted[[:space:]]Setup[[:space:]]1.0.0.exe filter=lfs diff=lfs merge=lfs -text
noted-1.0.0.dmg filter=lfs diff=lfs merge=lfs -text
Noated[[:space:]]Setup[[:space:]]0.1.0.exe filter=lfs diff=lfs merge=lfs -text
Noated-0.1.0.dmg filter=lfs diff=lfs merge=lfs -text
Noated_0.1.0_amd64.snap filter=lfs diff=lfs merge=lfs -text
Noted-0.1.0.dmg filter=lfs diff=lfs merge=lfs -text
Noated[[:space:]]Setup[[:space:]]0.1.1.exe filter=lfs diff=lfs merge=lfs -text
Noated-0.1.1.dmg filter=lfs diff=lfs merge=lfs -text
Noated_0.1.1_amd64.snap filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
